extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 James Hall

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p I've always been thrilled by computers. Typing in some code and watching the screen light up just seemed like magic. I learned <a href="https://www.justbasic.com/">BASIC</a> when I was about 7, and HTML 3 soon after. 
          p But I've come a long way since then. Last year I researched the best way to learn to code professionally, and I settled upon <a href="https://teamtreehouse.com/home">Treehouse</a>. They guide complete beginners to professional level. One of the parts that I really like is that they stress peer reviews. When I've completed a project, one of my peers reviews it and gives me written feedback. Conversely, I give peer reviews to my fellow students as well. This teaches me how to take feedback, and how to read & understand others' code.
          p Whether I'm debugging someone else's code or solving my own problems, coding is a lot of fun, and I enjoy the challenges it offers. I'm always up to learn a new language feature or aspect.
          p 🧠👨‍💻💯

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Front-End JS
          li Node.js
          li Express



        h6 Contact Info
        ul
          li#email
            a(href=`https://docs.google.com/forms/d/e/1FAIpQLSfyYZpIooEB1qBDZxcfWkly2
            dqo4SoIAY22wcUtkl2wvUqkiA/viewform?usp=sf_link`) Contact me
          li
            a(href="https://t.me/IAmJamesHall") Telegram
          
        a.button.expanded(href='https://www.linkedin.com/in/iamjameshall/') LinkedIn
        a.button.expanded(href='https://github.com/IAmJamesHall/') GitHub
        a.button.expanded(href='https://twitter.com/IAmJamesHall') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  